 .u-section-1 {
  background-image: url("images/14.png");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1009px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 832px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: url("images/23.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 8747px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 8687px;
}

.u-section-2 .u-container-layout-1 {
  padding: 7px 0 30px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 -132px 0 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 31px -570px 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 46px -570px 0 0;
}

.u-section-2 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 20px -570px 0 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 47px -570px 0 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 1843px -570px 0 0;
}

.u-section-2 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 20px -570px 0 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 52px -570px 0 0;
}

.u-section-2 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 20px -570px 0 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 44px -570px 0 0;
}

.u-section-2 .u-text-11 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 20px -570px 0 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 20px -570px 0 0;
}

.u-section-2 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 20px -570px 0 0;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 20px -570px 0 0;
}

.u-section-2 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: 20px -570px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 8687px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-16 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: left;
  margin: -5776px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5621px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 7163px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 7163px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1813px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 5487px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3747px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 8231px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1710px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 5182px;
  }
}