 .u-section-1 {
  background-image: url("images/14.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 876px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 876px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 110px 30px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 12px -26px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 722px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 722px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 830px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 523px;
  }
} .u-section-2 {
  background-image: url("images/23.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -379px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 926px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 524px;
  height: 524px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 926px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  width: 382px;
  height: 556px;
  margin: 70px -97px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 420px;
  height: 515px;
  margin: -500px -76px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 1117px;
  min-height: 584px;
  transition-duration: 0.5s;
  background-image: url("images/DesignohneTitel45.png");
  background-position: 50% 50%;
  margin: -122px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  transition-duration: 0.5s;
  background-image: none;
  margin: -1248px auto 60px;
  padding: 24px 46px 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 764px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 470px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 764px;
  }

  .u-section-2 .u-image-4 {
    animation-duration: 1000ms;
    width: 940px;
  }

  .u-section-2 .u-btn-1 {
    transform: scale(1.1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-2 .u-image-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1722px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 878px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 878px;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 553px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 553px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 417px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: url("images/32.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1124px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 18px 0 42px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1064px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 467px;
  height: 285px;
  margin: 36px auto 0 -53px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 33px auto 0 63px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0 63px;
}

.u-section-3 .u-image-2 {
  width: 353px;
  height: 630px;
  margin: 182px auto -327px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1064px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-shape-1 {
  height: 375px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  width: 530px;
  margin: 295px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 375px;
  width: 530px;
  margin: -375px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  left: 10px;
  top: auto;
  right: auto;
  bottom: 9px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-1 {
  background-image: none;
}

.u-section-3 .u-back-image-1 {
  object-position: 100% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
}

.u-section-3 .u-back-image-2 {
  object-position: 100% 50%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
}

.u-section-3 .u-back-image-3 {
  object-position: 100% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 877px;
  }

  .u-section-3 .u-text-1 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-text-2 {
    animation-duration: 1000ms;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 877px;
  }

  .u-section-3 .u-shape-1 {
    width: 470px;
  }

  .u-section-3 .u-gallery-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 220px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-left: 7px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-shape-1 {
    width: 360px;
  }

  .u-section-3 .u-gallery-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 840px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
    height: 208px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 607px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: url("images/DesignohneTitel4.svg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1277px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 301px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-image-1 {
  width: 297px;
  height: 475px;
  margin: -174px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 555px;
  height: 304px;
  transition-duration: 0.5s;
  margin: -304px 0 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 304px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 13px;
}

.u-section-4 .u-image-3 {
  width: 540px;
  height: 304px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 672px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 300px;
  height: 608px;
  margin: -200px 0 0 auto;
}

.u-section-4 .u-image-5 {
  width: 300px;
  height: 456px;
  margin: -456px 0 0 auto;
}

.u-section-4 .u-image-6 {
  width: 540px;
  height: 304px;
  transition-duration: 0.5s;
  margin: -414px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-4 .u-image-2 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-4 .u-image-3 {
    animation-duration: 1000ms;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 554px;
  }

  .u-section-4 .u-image-6 {
    animation-duration: 1000ms;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 192px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 424px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -155px;
  }

  .u-section-4 .u-image-2 {
    width: 520px;
    height: 285px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 144px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    width: 520px;
    height: 293px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 318px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 90px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -45px;
  }

  .u-section-4 .u-image-2 {
    width: 320px;
    height: 175px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 91px;
  }

  .u-section-4 .u-image-3 {
    width: 320px;
    height: 180px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 200px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -344px;
  }

  .u-section-4 .u-image-6 {
    width: 340px;
    height: 192px;
  }
}

.u-section-4 .u-image-6,
.u-section-4 .u-image-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-6.u-image-6.u-image-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-6.u-image-6.u-image-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.players {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}